extends ../../layouts/default.pug
block main 
  if(productCategoryDetail.title)
    h1(class="mb-4") #{productCategoryDetail.title}
  if(productCategoryDetail.thumbnail)
    div(class="mb-4")
      img(
        src=productCategoryDetail.thumbnail
        style="width: 100px"
      )
  if(productCategoryDetail.status)
    div(class="mb-4")
      span Trạng thái: 
      if(productCategoryDetail.status=="active")
        span(class="badge badge-success") Hoạt động
      else 
        span(class="badge badge-danger") Dừng hoạt động   

  if(productCategoryDetail.position)  
    div(class="mb-4") Vị trí #{productCategoryDetail.position} 
  if(productCategoryDetail.description)  
    div(class="mb-4") Mô tả !{productCategoryDetail.description} 

  a(
    href=`${prefixAdmin}/product-category/edit/${productCategoryDetail.id}`
    class="btn btn-warning btn-sm") Sửa 
  a(
    href=`${prefixAdmin}/product-category`
    class="btn btn-info btn-sm ml-1") Quay lại    
  script(src="/admin/js/product.js")       
