extends ../../layouts/default.pug
include ../../mixins/alert
include ../../mixins/tree
block main 
    h1(class="mb-4") chỉnh sửa danh mục sản phẩm 
    +alert-success(3000)
    +alert-error(3000)
    form(
        action=`${prefixAdmin}/product-category/edit/${editProductCategory.id}`
        method="POST"
        class="form-create-prouct"
        enctype="multipart/form-data"
    )
      div(class="form-group")
         lable(for="title") Tiêu đề
         input(
            id="title"
            type="text"
            name="title"
            class="form-control"
            value=editProductCategory.title
         )
      div(class="form-group")
         lable(for="parrent_id") Danh mục cha
         select(
           name="parrent_id"
           id="parrent_id"
           class="form-control"
         ) 
          option(value="") --Chọn danh mục cha--
          if(newRecord)
              //-Truyền id cha nó vào, bên kia duyệt từng thằng 1 xem thằng nào có id trùng -> cha -? selectW
              +tree(newRecord,1,editProductCategory.parrent_id)
            
      div(class="form-group")
         lable(for="description") Mô tả
         textarea(
            id="description"
            name="description"
            class="form-control tinymce"
            rows="5"
         )  #{value=editProductCategory.description}
      div(
         class="form-group"
         upload-image
         )
            lable(for="thumbnail") Ảnh
            input(
               id="thumbnail"
               type="file"
               name="thumbnail"
               class="form-control-file"
               accept="image/*"
               input-upload-image
            )  
            image(
               src=editProductCategory.thumbnail
               upload-image-preview
               class="uploadPreview"
            )
            
      div(class="form-group")
         lable(for="position") Vị trí
         input(
            id="position"
            type="text"
            name="position"
            class="form-control"
            placeholder="Tự động tăng"
            min="1"
            value=editProductCategory.position
         ) 
      div(class="fom-group form-check form-check-inline")
         input(
            type="radio"
            class="form-check-input"
            id="statusActive"
            name="status"
            value="active"
            checked=(editProductCategory.status=="active"?true:false)
         )
         label(for="statusActive" class="form-check-label") Hoạt động 
      div(class="fom-group form-check form-check-inline")
         input(
            type="radio"
            class="form-check-input"
            id="statusActive"
            name="status"
            value="inactive"
            checked=(editProductCategory.status=="inactive"?true:false)
         )
         label(for="statusActive" class="form-check-label") Dừng hoạt động      
      div(class="form-group")
        button(
            type="submit"
            class="btn btn-primary"
        ) Chỉnh sửa 
    script(src="/admin/js/products.js")       
