extends ../../layouts/default.pug
include ../../mixins/alert
block main 
   if(roleAccount.permissions.includes("role-add"))
    h1(class="mb-4") Thêm mới nhóm quyền
    +alert-success(3000)
    +alert-error(3000)
    form(
        action=`${prefixAdmin}/roles/create`
        method="POST"
        class="form-create-prouct"
    )
      div(class="form-group")
         lable(for="title") Tiêu đề
         input(
            id="title"
            type="text"
            name="title"
            class="form-control"
            require
         )
      div(class="form-group")
         lable(for="description") Mô tả ngắn
         textarea(
            id="description"
            name="description"
            class="form-control tinymce"
            rows="5"
         )  
      div(class="form-group")
        button(
            type="submit"
            class="btn btn-primary"
        ) Tạo mới 
    script(src="/admin/js/products.js")       
