extends ../../layouts/default.pug
include ../../mixins/alert
block main 
   if(roleAccount.permissions.includes("role-edit"))
    h1(class="mb-4") Chỉnh sửa nhóm quyền
    +alert-success(3000)
    +alert-error(3000)
    form(
        action=`${prefixAdmin}/roles/edit/${role.id}?_method=PATCH`
        method="POST"
        class="form-create-prouct"
    )
      div(class="form-group")
         lable(for="title") Tiêu đề
         input(
            id="title"
            type="text"
            name="title"
            class="form-control"
            value=role.title
         )
      div(class="form-group")
         lable(for="description") Mô tả ngắn
         textarea(
            id="description"
            name="description"
            class="form-control tinymce"
            rows="5"
         )  #{role.description}
      div(class="form-group")
        button(
            type="submit"
            class="btn btn-primary"
        ) Cập mới 
    script(src="/admin/js/products.js")       
