extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main 
   h1(class="mb-4") Danh sách tài khoản 
   +alert-success(3000)
   +alert-error(3000)
   .card.mb-3 
   .card-header Danh sách sản phẩm
    .card-body 
     .row 
        .col-8
        .col-4
          a(
            href=`${prefixAdmin}/accounts/create`
            class="btn btn-outline-success"
            ) + Thêm mới 
     table(
       class="table table-hover table-sm"
       check-box-multi
     )
      thead 
            tr 
              th STT 
              th Hình ảnh 
              th Họ tên
              th Phân quyền
              th Email 
              th Trạng thái 
              th Hành động
      tbody 
        each item, index in account
           tr 
              td #{index+1}
              td 
                  img(src=item.avatar
                      alt=item.fullname
                      width="100px"
                      height="auto"
                      )
              td #{item.fullname}
              td #{item.role.title}
              td #{item.email}
              td 
                  if(item.status=="active")
                      a(href="javascript:;"
                        data-status=item.status
                        data-id=item.id
                        button-change-status
                        class="badge badge-success") Hoạt động
                  else 
                      a(href="javascript:;"
                      data-status=item.status
                      data-id=item.id
                      button-change-status
                      class="badge badge-danger") Dừng hoạt động   
              td 
                  a(
                    href=`${prefixAdmin}/accounts/edit/${item.id}`
                    class="btn btn-warning btn-sm") Sửa
                  
                  button(
                    class="btn btn-danger btn-sm ml-1 "
                    data-id=item.id
                    button-delete-catgory
                    ) Xóa    
                  a(
                    href=`${prefixAdmin}/product-category/detail/${item.id}`
                    class="btn btn-secondary btn-sm ml-1") Chi tiết   
    script(src="/admin/js/products.js")                             
