.sider 
  .inner-menu 
     ul 
       li 
         a(href=`${prefixAdmin}/dashboard`) Tong Quan
       li 
         a(href=`${prefixAdmin}/product-category`) Danh mục san pham  
       li 
         a(href=`${prefixAdmin}/products`) San pham
       li 
         a(href=`${prefixAdmin}/roles`) Nhóm quyền
       li 
         a(href=`${prefixAdmin}/roles/permission`) Phân quyền 
       li 
         a(href=`${prefixAdmin}/accounts`) Quản lý tài khoản    